body {
    margin: 0 auto;
    font-family: sans-serif;
    width: 350px;
}

.form {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.user {
    margin: 0 auto;
    padding-bottom: 25px;
    div {
        display: flex;
        align-content: center;
        height: 100px;
        background-color: #FF9D1F;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        &:last-of-type {
            border-bottom: 1px solid black;
        }
        &:nth-child(odd) {
            background-color: #E85E01;
        }
        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
            margin-top: 15px;
            text-transform: capitalize;
        }
        img {
            margin-right: 15px;
        }
    }
}